@{
    ViewData["Title"] = "アクセスが拒否されました";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">このアカウントはシステムに登録されていません。</p>
    <p>アクセス権が必要な場合は、システム管理者に連絡してください。</p>
</header>
